$contentBackground: rgb(253, 252, 252);
$buttonColor:#699900;
$textColorHeader: #2C2F3C;
$cardText: 'Hind',
sans-serif;
$colorSelect: #14A0C7;
$header-image: url(../img/m-h-day.jpg);
$textSelection: #14A0C7;
$backgroundCard: #21232E;
$footerColor: #21232E;
$myGradient: (#2D5BD7, #639218);
$font-sizes: ("smalll": 12px, "normal": 17px, "large": 70px)