$contentBackground: #21232E;
$buttonColor:#E3AC00;
$textColorHeader: white;
$cardText: 'Fresca',
sans-serif;
$colorSelect: #FF4E33;
$header-image: url(../img/m-h-night.jpg);
$textSelection: #14A0C7;
$backgroundCard: #3B3F50;
$footerColor: #3B3F50;
$myGradient: (#932D52, #DCA008);
$font-sizes: ("small": 16px, "normal": 17px, "large": 70px)